# Amazon
0 12 * * * curl -X POST https://server.spherecast.ai/amazon_scheduler/shipments/updates >/proc/1/fd/1 2>/proc/1/fd/2

# Billbee
*/5 * * * * curl -X POST https://server.spherecast.ai/billbee_scheduler/products/updates >/proc/1/fd/1 2>/proc/1/fd/2

# Forecast
0 0 * * 0 curl -X POST https://server.spherecast.ai/forecast_scheduler/sku-accuracy/updates >/proc/1/fd/1 2>/proc/1/fd/2
0 0 * * 0 curl -X POST https://server.spherecast.ai/forecast_scheduler/parent-accuracy/updates >/proc/1/fd/1 2>/proc/1/fd/2
0 0 * * * curl -X POST https://server.spherecast.ai/forecast_scheduler/lost-revenue/updates >/proc/1/fd/1 2>/proc/1/fd/2

# JTL
*/10 * * * * curl -X POST https://server.spherecast.ai/jtl_scheduler/orders/updates >/proc/1/fd/1 2>/proc/1/fd/2
*/5 * * * * curl -X POST https://server.spherecast.ai/jtl_scheduler/products/updates >/proc/1/fd/1 2>/proc/1/fd/2
0 0 * * * curl -X POST https://server.spherecast.ai/jtl_scheduler/new_products/updates >/proc/1/fd/1 2>/proc/1/fd/2
0 0 * * * curl -X POST https://server.spherecast.ai/jtl_scheduler/suppliers/updates >/proc/1/fd/1 2>/proc/1/fd/2

# Notification
# 0 12 * * * curl -X POST https://server.spherecast.ai/notification_scheduler/critical-stock/updates >/proc/1/fd/1 2>/proc/1/fd/2
# 0 0 * * * curl -X POST https://server.spherecast.ai/notification_scheduler/overdue-po/updates >/proc/1/fd/1 2>/proc/1/fd/2
# 0 0 * * 0 curl -X POST https://server.spherecast.ai/notification_scheduler/exceptional-demand/updates >/proc/1/fd/1 2>/proc/1/fd/2

# Order
0 * * * * curl -X POST https://server.spherecast.ai/order_scheduler/order-views/updates >/proc/1/fd/1 2>/proc/1/fd/2

# Product
0 0 * * * curl -X POST https://server.spherecast.ai/product_scheduler/abc-categories >/proc/1/fd/1 2>/proc/1/fd/2
0 0 * * * curl -X POST https://server.spherecast.ai/product_scheduler/reorder-metrics/updates >/proc/1/fd/1 2>/proc/1/fd/2

# Stock
0 0 * * * curl -X POST https://server.spherecast.ai/stock_scheduler/updates >/proc/1/fd/1 2>/proc/1/fd/2

# An empty line is required at the end of this file for a valid cron file.
